doctype html
html
	include ../header
	body
	#conteneur
		h1(id="header")
			a(href="/", title="Lambersel - Acceuil")
				span Lambersel
				
		nav
			ul(id="menu")
				li: a(href="/logout") Déconnection
				li: a(href="#") Catalogue
				li: a(href="#") Pétales
				li: a(href="/dashboard/administration") Administration

		#contenu
			if flash
				p flash
					div.alert(class='#{flash.type}')
						ul
						- for (var i = 0; i < flash.messages.length; i++) {
								li #{flash.messages[i].msg}
						- }
						ul
			block content

		p(id="footer") Site web fonctionnant avec 
			a(href="https://github.com/") openSEL
			, Template provenant de 
			a(href="http://www.alsacreations.com/tuto/lire/555-design-css.html") AlsaCreation
			