extends layout

block content
	a(href='/users'): img(src='/images/users.png' alt='Modifiers les utilisateurs')
 
	a(href="/news") Nouvelles

	h2 Base de données
	p 
		nav
			ul(id="bdd_action")
				li: a(href="/databaseReset") Créer la base de données