extends layout

block content
	span.action
		p Gestion des utilisateurs
		a(href='/users'): img(src='/images/users.png' alt='Gestion des utilisateurs')
	
	span.action
		p Gestion des nouvelles
		a(href='/news'): img(src='/images/news.png' alt='Gestion des nouvelles')
		
	span.action
		p Ré-initialiser la base de données
		a(href='/databaseReset'): img(src='/images/database.png' alt='reinitialiser la base de données')
		