extends layout

block content
	h2 Utilisateurs
	p
		nav
			ul(id="utilisateur_action")
				li: a(href="/users") Lister les utilisateurs
				li: a(href="/users/add") Ajouter un utilisateur
				
	h2 Nouvelles
	p
		nav
			ul(id="nouvelle_action")
				li: a(href="/news") Lister les nouvelles
				li: a(href="/news/add") Ajouter une nouvelles

	h2 Base de données
	p 
		nav
			ul(id="bdd_action")
				li: a(href="/databaseReset") Créer la base de données