extends layout

block content
	.action
		p Gestion des utilisateurs
			a(href='/users'): img(src='/images/users.png' alt='Gestion des utilisateurs')
	
	.action
		p Gestion des nouvelles
			a(href='/news'): img(src='/images/news.png' alt='Gestion des nouvelles')
		
		
	.action
		p Ré-initialiser la base de données
			a(href='/databaseReset'): img(src='/images/database.png' alt='reinitialiser la base de données')
		