extends layout

block content
	a(href='/users'): img(src='/images/users.png' alt='Gestion des utilisateurs') Gestion des utilisateurs
	a(href='/news'): img(src='/images/news.png' alt='Gestion des nouvelles') Gestion des nouvelles
	a(href='/databaseReset'): img(src='/images/database.png' alt='reinitialiser la base de données') Ré-initialiser la base de données