extends layout

block content
		p
			a(href='/users') Gestion des utilisateurs
			br 
			div Pour ajouter, supprimer et modifier des utilisateurs.
	
		p 
			a(href='/news') Gestion des nouvelles
			br 
			div Pour ajouter, supprimer et modifier les nouvelles.

		p 
			a(href='/config') Configuration
			br 
			div Pour gérer la configuration du site.
		p 
			a(href='/databaseUpdate') Mettre à jour la base de données
			br 
			div Permet de mettre à jour la base de données sans perdre de données.
		
		p 
			a(href='/databaseReset') Ré-initialiser la base de données
			br 
			div Remet à zero la base de donnée (toutes les données seront perdues).

		p 
			a(href='/databaseSave') Sauvegarder la base de données
			br 
			div Permet de télécharger une sauvegarde de la base de données.
		
		p 
			a(href='/databaseRestore') Restaurer une base de données
			br 
			div Permet de charger une sauvegarde de la base de données.