extends layout

block content
	span.action
		p Gestion des utilisateurs
		a(href='/users' id='admin_users')
	
	span.action
		p Gestion des nouvelles
		a(href='/news' id='admin_news')
		
	span.action
		p Ré-initialiser la base de données
		a(href='/databaseReset' id='admin_database')
		