extends layout

block content

	h2 Liste des services

	if services
		- each service in services
			div
				h3 
					if service.type == 'request'
						b [demande] &nbsp;
					else
						b [offre] &nbsp;
					span #{service.title} &nbsp;
					span (service n° #{service.id})
				p #{service.description.substr(1,200)} ...
					br
					a(href='/services/'+service.id) Voir le détail et les informations permettant de contacter le seliste