doctype html
html(lang="fr")
	include header
	body
	#conteneur
		h1(id="header")
			a(href="/", title="Lambersel - Acceuil")
				span Lambersel
				
		nav
			ul(id="menu")
				li: a(href="/") Accueil
				if authenticated
					li: a(href="/users/" + user_id) Mon compte
					li: a(href="/services") Le catalogue
					if isAdmin
						li: a(href="/administration") Administration
						li: a(href="/logout") Déconnection
					else
						li: a(href="/users/" + user_id) Mon compte
						li: a(href="/services") Le catalogue
						li: a(href="/logout") Déconnection				
				else
					li: a(href="/login") Se connecter

		#contenu
			if flash
				p flash
					div.alert(class='#{flash.type}')
						ul
						- for (var i = 0; i < flash.messages.length; i++) {
								li #{flash.messages[i].msg}
						- }
						ul
			block content

		div(id="space")
		
		p(id="footer") 
			span Site web fonctionnant avec 
				a(href="https://github.com/KevinPolez/openSEL") openSEL
			span Design initié par le tutoriel de 
				a(href="http://www.alsacreations.com/tuto/lire/555-design-css.html") AlsaCreation
			span Jeu d'icone provenant de 
				a(href="https://www.iconfinder.com/search/?q=iconset:49handdrawing") iconfinder