doctype html
html(lang="fr")
	include header
	body
	#conteneur
		h1(id="header")
			a(href="/", title="Lambersel - Acceuil")
				span Lambersel
				
		nav
			ul(id="menu")
				li: a(href="/") Accueil
				if authenticated
					if isAdmin
						li: a(href="/administration") Administration
						li: a(href="/logout") Déconnection
					else
						li: a(href="/account") Mon compte
						li: a(href="/catalogue") Le catalogue
						li: a(href="/logout") Déconnection				
				else
					li: a(href="/login") Se connecter

		#contenu
			if flash
				div.alert(class='#{flash.type}')
					- for (var i = 0; i < flash.messages.length; i++) {
						p #{flash.messages[i].msg}
					- }
			block content

		div(id="space")
