extends layout

block content

	h2 Modification de vos informations personnelles
	p 
		form(method='post', action='/update', id='update-user-form')
			.form-group
				label(for='email') Votre addresse email
				input(type='text', name='email', class='form-control', id='email', value='#{user.email}')
			.form-group
				label(for='phone') Votre numéro de téléphone
				input(type='text', name='phone', class='form-control', id='phone', value='#{user.phone}')
			.form-group
				button.btn.btn-default Modifier vos informations personnelles
			div(id="space")