extends layout

block content

	h2 Modification de votre mot de passe
	p 
		form(method='post', action='/updatePassword', id='update-password-form')
			.form-group
				label(for='new_password') Votre nouveau mot de passe
				input(type='password', name='new_password', class='form-control', id='new_password')
			.form-group
				label(for='new_password_check') Vérification
				input(type='password', name='new_password_check', class='form-control', id='new_password_check')
				div (entrez une seconde fois votre nouveau mot de passe)
			.form-group
				button.btn.btn-default Modifier votre mot de passe
			div(id="space")