body
{
    margin: 0 ;
    padding: 0 ;
    text-align: center ;
    font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
}

div#conteneur
{
    margin: 0 auto ;
    text-align: left ;
    background: #fff ;
}

h1#header
{
    height: 258px ;
    background: url(../images/lambersel.JPG) no-repeat left top ;
    margin: 0 ;
}

h1#header a
{
    width: 770px ;
    height: 258px ;
    display: block ;
    background: url(../images/title.gif) no-repeat ;
    position: relative ;
    text-indent: -5000px ;
}

ul#menu
{
    height: 35px ;
    margin: 0 ;
    padding: 0 ;
    background-color: #dea ;
    list-style-type: none ;
}

ul#menu li a
{
    width: 150px ;
    line-height: 35px ;
    font-size: 1.2em ;
    font-weight: bold ;
    letter-spacing: 2px ;
    color: #558b2f ;
    display: block ;
    text-decoration: none ;
}

ul#menu li
{
    float: left ;
    text-align: center ;
}

ul#menu li a:hover
{
    background-color: #558b2f ;
	color: #fff;
}

div#contenu
{
    padding: 0 10px 0 10px ;
}

div#contenu h2
{
    padding-left: 25px ;
    line-height: 25px ;
    font-size: 1.8em ;
    background: url(../images/little_apple.gif) no-repeat left bottom ;
    color: #9b2 ;
}

div#contenu h3
{
    margin-left: 15px ;
    padding-left: 5px ;
    border-bottom: 1px solid #9b2 ;
    border-left: 3px solid #9b2 ;
    color: #9b2 ;
}

div#contenu p
{
    text-align: justify ;
	font-size: 1.2em ;
}

div#contenu a
{
    color: #8a0 ;
}

div#contenu a:hover
{
    color: #9b2 ;
}

div#space
{
	clear: both;
}

p#footer
{
    margin: 0 ;
    padding-right: 10px ;
    line-height: 30px ;
    text-align: right ;
    color: #8a0 ;
	background-color: #dea;
}

pre
{
    overflow: auto ;
    background: #dea ;
    border: 2px solid #9b2 ;
    padding: 5px 0 0 5px ;
    font-size: 1.2em ;
}

pre span
{
    color: #560 ;
}

pre span.comment
{
    color: #b30000 ;
}

div.detail
{
	background-color: #dea;
	padding: 5px;
}

div.detail table
{
	font-size : 1.2em;
	border-collapse:collapse;
}

div.detail table th {
	border-right: 3px solid #558b2f;
	padding-left : 20px;
	color:#33691e;
}

div.detail table td{
	padding-left : 20px;
}

form
{
	background-color: #f0ffc3;
	padding: 10px;
}

div.form-group
{
	margin-bottom: 10px;
}

div.form-group label 
{
	display: block;
	width: 150px;
	float: left;
	color:#33691e;
	font-size: 1.3em;
}

div.form-group input[type=text], div.form-group input[type=password]
{
	width: 400px;
	font-size: 1.3em;
	padding-left: 5px;
}

div.form-group textarea
{
	width: 400px;
	height: 300px;
}

div.form-group button
{
	border: 0;
	color: #fff;
	background-color: #558b2f;
	line-height: 35px ;
    font-size: 1.2em ;
    font-weight: bold ;
    letter-spacing: 2px;
	float : right;
}


table
{
	width: 100%;
}
table thead
{
	background-color: gainsboro;
}

div.offre
{
	background-color: #f0ffc3;
	margin-bottom: 20px;
}

div.offre div.titre
{
	font-size : 1.2em;
	padding-left : 10px;
}

div.offre div.description
{
	padding: 10px;
}

div.offre div.footer
{
	padding-left : 10px;
	padding-right : 10px;
	text-align: right;
}

div.action {
	width: 133px;
	float: left;
	margin-right: 10px;
}

div.action p {
    text-align: justify ;
    text-indent: 0em ;
}

div.action a {
	width: 128px;
	height: 128px;
	display: block;
	border : 5px solid #fff;
}

div.action a:hover {
	border : 5px solid #eee;
}

a#admin_users {
	background-image: url('../images/users.png');
}

a#admin_news {
	background-image: url('../images/news.png');
}

a#admin_database {
	background-image: url('../images/database.png');
}