extends ../layout

block content

	a(href='/administration') Retour

	h2 Liste des utilisateurs
	a(href="/users/add") Ajouter un utilisateur
	if users
		ul
		- each user in users
			li #{user.id} - #{user.username}
		ul