extends ../layout

block content

	a(href='/administration') Retour

	h2 Liste des utilisateurs
	a(href="/users/add") Ajouter un utilisateur
	if users
		p
			table
				thead
					tr
						th Identifiant
						th Nom d'utilisateur
						th Action
				tbody
				- each user in users
					tr
						td #{user.id}
						td #{user.username}
						td
							a(href='/user/'+ user.id + '/update') Modifier
							a(href='/user/'+ user.id + '/delete') Supprimer